[Unit]
Description=Mount SSHFS NAS after login
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sshfs oliver@os93-nas:/home /mnt/nas -o reconnect,allow_other
ExecStop=/bin/fusermount -u /mnt/nas
Restart=on-failure

[Install]
WantedBy=default.target